@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400&display=swap');
* {
    font-family: 'Readex pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --blue: #2C3333;
    --white: #E7F6F2;
    --gray: #395b642d;
    --black1: #222;
    --black2: rgb(107, 105, 105);
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .container {
    position: relative;
    width: 100%;
  }

  .main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 80px);
    left: 80px;
  }

  /* ======================= Buttons ====================== */
.btnBox {
  position: relative;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-left: 100px;
}

.btnBox .btn {
  position: relative;
  background: var(--gray);
  padding: 25px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  width: 250px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}


.btnBox a {
  color: var(--black2);
  margin-top: 0;
  text-decoration: none;
}

/* .btn:hover {
  background: var(--blue);
  color: var(--white);
}

.btn .active {
  background: var(--blue);
  color: var(--white);

} */

.btnBox .active, .btn:hover {
  background-color: var(--blue);
  color: var(--white);
}
  /* ================== Order Details List ============== */
  .details {
    position: relative;
    width: 90%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 30px;
    margin-left: 50px;
    margin-top: 10px;
  }
  
  .details .recentOrders {
    position: relative;
    min-height: 200px;
    background: var(--gray);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
/* ===================== schedulereq_dons ===================== */
.calender-container{
    position: absolute;
    display: flex;
    height:calc(100% - 60px);
    width: 41%;
    top: 60px;
    left: 18%;
    background-color: #395B64;
    justify-content: flex-end;
    }
  
    /* .calendar img{
    position: absolute;
      height: 60%;
      left: 10%;
      width: auto;
      bottom: 20%;
    }
  
  .form-container-req{
        display: flex;
        position: absolute;
        height:calc(100% - 60px);
        width: 41%;
        top: 60px;
        left: 59%;
        background-color: white;
        
  } */
  
  /* .form-inner{
    display: flex;
    position: absolute;
    height:95%;
    width: 80%;
    top: 2.5%;
    left: 10%;
    border-radius: 5%;
    background-color: #2C3333;
  } */
  /*
  .heading-req{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-align: center;
  }          
  
  .input-field-req{
    position: absolute;
    font-size: 1rem;
    padding: 0;
    color: white;
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #B7C4CF;
    left: 20%;
  }
  
  .input-field-req.active{
    border-bottom-color: #2C3333;
  }
  
  .input-field-req.active+label{
    font-size: 1rem;
    top: -2px;
  }
  
  .dropdown{
    position: absolute;
    font-size: 1rem;
    padding: 0px;
    color: white;
    width: 30%;
    height: 100%;
    outline: none;
    border: white;
    background: #2C3333;
    left: 20%;  
  }
  
  .choose-ben{
    /*display: flex;*/
    position: absolute;
      height: 60px;
      width: 30%;
    top: 80px;
      color: white;
    text-align: center;
    left: 7%;
      background-color:#2C3333 ;
      cursor: pointer;
      border: none;
    margin-bottom: 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      transition: 0.4s;
      transform: translateX(118%);
  }
   */
  .all-req{
    /*display: flex;*/
    position: absolute;
      height: 60px;
      width: 20%;
    top: 300px;
      color: white;
    text-align: center;
    left: 25%;
      background-color:#2C3333 ;
      cursor: pointer;
      border: none;
    margin-bottom: 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      transition: 0.4s;
      transform: translateX(118%);
  }
  
  .select{
    position: absolute;
    height:calc(100% - 260px);
    padding: 20px;
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    width: 74%;
    border-radius: 20px;
    top: 240px;
    left: 20%;
  }
  
  .new-select{
    position: absolute;
    left: 24%;
    top: 400px;
  }
  
  
  .city{
    position: absolute;
      height: 45px;
      width: 20%;
    top: 170px;
      color: white;
    text-align: center;
      background-color:#2C3333 ;
      cursor: pointer;
      border: none;
    margin-bottom: 2rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      transition: 0.4s;
      transform: translateX(118%);
  }
  
  .select2{
    display: flex;
    position: absolute;
    width: 100%;
    height: 45px;
    background: #2C3333;
    color: white;
    border-radius: 1rem;
  
  }
  
  table{
    table-layout: fixed;
  }
  
  th{
    color: #395B64;
    font-size: 1.32rem;
    
  }
  
  td, th{
    vertical-align: top;
    width: 11%;
    padding: 8px;
    text-align: left;
  
  }
  
  
  
  .title{
    margin-top: 5px;
    font-size: 1.1rem;
  }
  .icon img{
    width: 200px;
    height:100px;
    border-radius: 50%;
    object-fit: cover;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
  /* ====================== Responsive Design ========================== */
  @media (max-width: 991px) {
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 300px;
    }
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
    .recentOrders {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
      font-size: 20px;
    }
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
    .toggle {
      z-index: 10001;
    }
    .main.active .toggle {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
    .icon img{
      width: 100px;
      height:50px;
      border-radius: 50%;
      object-fit: cover;
      padding-right: 20px;
      margin-bottom: 10px;
      padding-bottom: 30px;
    }
  }
  