
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400&display=swap');

* {
  font-family: 'Readex pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2C3333;
  --white: #E7F6F2;
  --gray: #395b642d;
  --black1: #222;
  --black2: rgb(107, 105, 105);
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  top:80px;
  min-height: 90vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

/* ======================= Buttons ====================== */
.btnBox {
  position: relative;
  width: 100%;
  padding: 20px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-left: 200px;
}

.btnBox .btn {
  position: relative;
  background: var(--gray);
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  width: 250px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}


.btnBox a {
  color: var(--black2);
  margin-top: 0;
  text-decoration: none;
}

/* .btn:hover {
  background: var(--blue);
  color: var(--white);
} */

.btnBox .active, .btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* ================== Order Details List ============== */
/* .details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 12fr 1fr;
  grid-gap: 30px;

} */

.admin_details{
  position: relative;
  max-width: 70%; 
  width: 100%;
  background: var(--gray);
  margin-top: 10px;
  margin-left: 40px;
  padding: 25px 30px;
  border-radius: 20px;
  margin-left: 200px;
}

.admin_details .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.admin_details .title::before{
  content: '';
  position: absolute;
  height: 3px;
  width: 30px;
  bottom: 0;
  background: linear-gradient(135deg, #095624,#12442c); 
}

.admin_details form .user_details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user_details .input_box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user_details .input_box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user_details .input_box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.invalid {
  border : 1px solid red;
}
.invalid-feedback{
  color: red;
  font-size: 15px;
}

.user_details .input_box input:focus,
.user_details .input_box input:valid{
  border-color:#12442c;
}

form .button input{
  height: 100%;
  width: 20%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 5px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #095624,#12442c);
}

form .button input:hover{
  background: linear-gradient(-135deg, #095624,#12442c);
}

.title{
  margin-top: 5px;
  font-size: 1.1rem;
}
.icon img{
  width: 200px;
  height:100px;
  border-radius: 50%;
  object-fit: cover;
  padding-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .btnBox {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .btnBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .details {
    grid-template-columns: 1fr;
  }
  
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
  .icon img{
    width: 100px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
}

@media (max-width: 480px){
  .admin_details{
      min-width: 100%;
  }
  form .user_details .input_box{
      margin-bottom: 15px;
      width: 100%;
  }
  form .user_details .category{
      width: 100%;
  }
  .admin_details form .user_details{
      max-height: 300px;
      overflow-y: scroll;
  }
  
}