@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400&display=swap');
* {
    font-family: 'Readex pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --blue: #2C3333;
    --white: #E7F6F2;
    --gray: #395b642d;
    --black1: #222;
    --black2: rgb(107, 105, 105);
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .container {
    position: relative;
    width: 100%;
  }

  .main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;

    top: 80px;
    min-height: 90vh;

    background: var(--white);
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 80px);
    left: 80px;
  }

  /* ================== Order Details List ============== */
  .details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;

    grid-template-columns: 1fr;

    grid-gap: 30px;
    /* margin-top: 10px; */
  }
  
  .details .recentOrders {
    position: relative;
    min-height: 200px;
    background-color: var(--gray);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }

  .container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    }
    
  
   .report-title{
    font-size: 35px;
      font-weight: 700;
  margin-top:10px;
  margin-left: 50px;
  
  }
  
  font.header-font-2 {
    font-size: 30px;
      font-family: 'Amatic SC';
      font-weight: bold;
  }
  
  .title-set{
    display:flex;
    width:100%;
    height: 250px;
  }
  .t1{
  width: 30%;
  background-image: url(./donation1.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  padding: 60px;
  font-weight: bold;
  font-size: medium;
  color:black;
  border-radius: 20px;
  cursor: pointer;
  border:#fff solid;
  }
  .t1:hover{
    transform:scale(1.1);
  opacity:0.9;
  
  }
  .title-set p{
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 20px;
  
  }
  
  .t2{
    width: 30%;
    background-image: url(../images/r2.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  padding: 60px;
  font-weight: bold;
  font-size: medium;
  color:black;
  border-radius: 20px;
  cursor: pointer;
  border:#fff solid;
    }
    .t2:hover{
      transform:scale(1.1);
    opacity:0.9;
    
    }
    .t3{
      width: 30%;
    background-image: url(.../images/r3.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  padding: 60px;
  font-weight: bold;
  font-size: medium;
  color:black;
  border-radius: 20px;
  cursor: pointer;
  border:#fff solid;
      
      }
      .t3:hover{
        transform:scale(1.1);
      opacity:0.9;
      
      }
      .t4{
        width: 30%;
        background-image: url(../images/r4.jpeg);
      background-size: cover;
      background-position: center;
      padding: 60px;
      
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;
      margin-top: 25px;
      font-weight: bold;
  font-size: medium;
  color:black;
  border-radius: 20px;
  cursor: pointer;
  border:#fff solid;
        }
        .t4:hover{
          transform:scale(1.1);
        opacity:0.9;
        
        }
        .t5{
          width: 30%;
          background-image: url(../images/r5.jpg);
        background-size: cover;
        background-position: center;
        padding: 60px;
        
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
    font-size: medium;
    color:black;
    border-radius: 20px;
    cursor: pointer;
    border:#fff solid;
        }
        .t5:hover{
          transform:scale(1.1);
        opacity:0.9;
        
        }
  
        .t6{
          width: 30%;
          background-image: url(../images/r6.jpg);
        background-size: cover;
        background-position: center;
        padding: 60px;
        
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
    font-size: medium;
    color:black;
    border-radius: 20px;
    cursor: pointer;
    border:#fff solid;
  
        }
        .t6:hover{
          transform:scale(1.1);
        opacity:0.9;
        
        }
        
        .title-set div {
          transition: transform 0.3s ease, opacity 0.3s ease;
        }
        
        .title-set p {
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        }
        .title set a {
          text-decoration: none;
        }
        .title-set a:hover {
          text-decoration: none;
        }
        
        .report-title {
          padding-bottom: 10px;
        }
        
        .title-set div {
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
  
  

  
  .show {display: block;}
  .title{
    margin-top: 5px;
    font-size: 1.1rem;
  }
  .icon img{
    width: 200px;
    height:100px;
    border-radius: 50%;
    object-fit: cover;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
  /* ====================== Responsive Design ========================== */
  @media (max-width: 991px) {
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 300px;
    }
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
    .recentOrders {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
      font-size: 20px;
    }
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
    .toggle {
      z-index: 10001;
    }
    .main.active .toggle {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
    .icon img{
      width: 100px;
      height:50px;
      border-radius: 50%;
      object-fit: cover;
      padding-right: 20px;
      margin-bottom: 10px;
      padding-bottom: 30px;
    }
  }
  