
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400&display=swap');

* {
  font-family: 'Readex pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2C3333;
  --white: #E7F6F2;
  --gray: #395b642d;
  --black1: #222;
  --black2: rgb(107, 105, 105);
}

.topbar {
  width: 100%;
  height: 80px;
  display: flex;
  background: var(--blue);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.topbar .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  color: var(--white);
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}


.navbar__right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
    margin-right: 5rem;
    list-style-type: none;

  }
 
  .navbar__right ul li {
    margin-left: 3rem;
  }
 
  .navbar__right ul li a {
    color: var(--white);
    font-size: 1rem;
  }
 
  #userName {
    font-weight: bold;
  }
 
  .navbar__right ul li a i {
    font-size: 1.5rem;
  }