
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400&display=swap');
* {
  font-family: 'Readex Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #2C3333;
  --white: #E7F6F2;
  --gray: #395b642d;
  --black1: #222;
  --black2: rgb(107, 105, 105);
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  top: 80px;
  left: 300px;
  min-height: 90vh;

  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 30px;
  /* margin-top: 10px;  */
  /* margin-left: 180px; */
}

.details .recentOrders {
  position: relative;
  display: block;
  min-height: 200px;
  background: var(--gray);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  /* margin-left: 140px; */
}

.details .recentOrders h2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    padding: 5px;
}

.details .recentOrders hr {
    background-color: var(--black1);
}

.details .recentOrders .details-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.details .recentOrders .profile-picture {
  text-align: center;
}

.details .recentOrders .profile-picture img {
  border-radius: 50%;
}


.details .recentOrders .details-card {
    margin-bottom: 15px;
    /* width: calc(100% / 2 - 20px); */
}

.details .recentOrders .details-head {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
}
.details .recentOrders .details-input {
    display: flex;
    font-size: 1.0rem;
    font-weight: 500;
    color: gray;
    margin-top: 7px;
    background-color: var(--white);
    width: 100%;
    min-height: 45px;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}


.details .recentOrders .details-input-des {
  display: flex;
  font-size: 1.0rem;
  font-weight: 500;
  color: gray;
  margin-top: 7px;
  background-color: var(--white);
  width: 100%;
  min-height: 100px;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.details .recentOrders .details-btn {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 20px 0 12px 0
}

.details .recentOrders .details-btn .btn_1{
height: 100%;
  width: 80%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 5px;
  margin-left: 100px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  background: var(--black2);
}
.details .recentOrders .details-btn .btn_1:hover{
  background-color: var(--blue);
}
.details .recentOrders .details-btn .btn_2{
  height: 100%;
    width: 30%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 5px;
    margin-left: 550px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    background: var(--black2);
  }
  .details .recentOrders .details-btn .btn_2:hover{
    background-color: var(--blue);
  }
.title{
  margin-top: 5px;
  font-size: 1.1rem;
}
.icon img{
  width: 200px;
  height:100px;
  border-radius: 50%;
  object-fit: cover;
  padding-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 30px;
} 
/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .btnBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .btnBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .details {
    grid-template-columns: 1fr;
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
  .icon img{
    width: 100px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
}
